<section class="container" role="main">
  <div class="row pt-4 pb-4">
    <div class="col-md-1 text-center">
      <span class="fs-2 logo" title="Brand Logo"
        ><i class="bi bi-command"></i
      ></span>
    </div>
    <div class="col-md-5">
      <rock-band-navbar></rock-band-navbar>
    </div>
    <div class="col-md-4 pt-3">
      <rock-search placeholderText="Search"></rock-search>
    </div>
    <div
      class="col-md-2"
      role="complementary"
      aria-label="User Profile and Shopping Cart"
    >
      <div class="d-flex justify-content-between">
        <rock-band-button-cta>
          <a href="#" class="btn p-2" aria-label="profile" title="user profile">
            <i class="bi bi-person"></i>
            <span class="mb-0 fs-7">Profile</span>
          </a>
        </rock-band-button-cta>
        <rock-band-button-cta>
          <a
            href="#"
            class="btn p-2"
            aria-label="0 item in wishlist"
            title="wishlist"
          >
            <i class="bi bi-heart"></i>
            <span class="mb-0 fs-7">Wislist</span>
          </a>
        </rock-band-button-cta>
        <rock-band-button-cta>
          <a
            href="#"
            class="btn p-2"
            aria-label="0 item in shopping cart"
            title="shopping bag"
          >
            <i class="bi bi-handbag"></i>
            <span class="mb-0 fs-7">Bag</span>
          </a>
        </rock-band-button-cta>
      </div>
    </div>
  </div>
  <div class="position-absolute r-10">
    <rock-band-notification-alert></rock-band-notification-alert>
  </div>
  <div class="row">
    <section class="col-md-8">
      <router-outlet name="productOutlet"></router-outlet>
    </section>
    <section class="col-md-4">
      <router-outlet name="cartOutlet"></router-outlet>
    </section>
  </div>
</section>
